khoahoc.dtd

<!-- DTD cho khóa học -->
<!ELEMENT elearning (course+)>
<!ELEMENT course (title, duration, price, instructor, students)>
<!ATTLIST course 
    id CDATA #REQUIRED
    category CDATA #REQUIRED>

<!-- Course details -->
<!ELEMENT title (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!-- Instructor elements -->
<!ELEMENT instructor (name, email, experience)>
<!ATTLIST instructor id CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT experience (#PCDATA)>

<!-- Students section -->
<!ELEMENT students (student*)>
<!ELEMENT student (name, email, join_date)>
<!ATTLIST student 
    id CDATA #REQUIRED
    progress CDATA #REQUIRED>
<!ELEMENT join_date (#PCDATA)>